<ion-view view-title="WHATDO" ng-controller="HomeController">
  <ion-nav-buttons side="right">
    <a class="button button-icon" href="#/settings">
      <i class="icon ion-gear-a"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item text-center">
        <h1>I just want to</h1>
        <h1>{{getVerb()}}</h1>
      </div>
      <a class="item text-center" href="#/activity">
        <button class="button button-energized">
          Do Something
        </button>
      </a>
    </div>

  </ion-content>
</ion-view>
