<ion-view view-title="Settings">
  <ion-nav-buttons side="left">

  </ion-nav-buttons>
  <ion-nav-buttons side="right">

  </ion-nav-buttons>
  <ion-content>
    <header>
      <h1> I just want to...</h1>
    </header>
    <div class="list">
      <li class="item item-toggle">
        Put Setting here
        <label class="toggle ">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>



    </div>

  </ion-content>
</ion-view>
